html, body {
    height: 100%;
}
body {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    top: 3%;

}
header, main, sidebar, footer, article, section, div, p {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
   }

header {
     background-color: pink;
    
} 

main {
    background-color: yellow;
}

sidebar {
    background-color: blue;

}

footer {
    background-color: lightgreen;
}

article {
    background-color: lightsalmon;
}

section {
    background-color: mediumorchid;
}

div {
    background-color: lemonchiffon;
}

p {
    position: relative;
    color: black;
    text-align: center;
    top: 50%;
    display: block;
  }

