body {
    margin: 0 auto;
    padding: 0;
    height: 768px;
    width: 100%;
}
header, main, sidebar, footer, article, section, div {
    margin: 0;
    padding: auto auto;
    width: 100%;
    display: block;
   }

header {
    background-color: pink;
    
} 

main {
    background-color: yellow;
}

sidebar {
    background-color: blue;

}

footer {
    background-color: lightgreen;
}

article {
    background-color: lightsalmon;
}

section {
    background-color: mediumorchid;
}

div {
    background-color: lemonchiffon;
}

p {
    color: black;
    text-align: center;
}

