

@media (min-width: 800px) { 
    body {
        width: 960px;
        margin: 0 auto;
    }
   header {
       height: 11%;
   }
    main {
        width: 79%;
        height: 65%;
        float: right;
    }
    
    sidebar {
        width: 19%;
        height: 79%;
        float: left;
    }
    article.top {
        width: 49%;
        height: 50%;
    }
    article.bottom {
        width: 49%;
        height: 50%;
    }
    article.left {
        width: 49%;
        float: left;
    }
    article.right {
        width: 49%;
        float: right;
    }
    footer {
        height: 13%;
        width: 79%;
    }
 }